@import "tailwindcss";

:root {
  --background: #124bce;
  --foreground: #161312;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #124bce;
    --foreground: #161312;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.primary-button{
  background-color: #33B7B9;
}

.primary-button:hover{
  background-color: #2C9D9F;
}
